/nbproject/private/
framework/generator/mapping/build.properties
framework/generator/mapping/runtime-conf.xml
framework/generator/mapping/schema.xml
application/protected/configs/mapping/sql/schema.sql
application/protected/configs/mapping/sql/sqldb.map
